@{
  Layout = "_Layout";
}

<section class="card">
  <div class="card-header cardListName">
    Create New Vendor
  </div>
  <div class="card-body">
    <h5 class="card-title">Enter vendor information</h5>
    <div class="card-text">
      <form action="/vendors" method="post">
        <div class="form-group">
          <label for="vendorName">Vendor name</label>
          <input type="text" id="vendorName" name="vendorName" class="form-control" placeholder="Enter vendor name">
        </div>
        <div class="form-group">
          <label for="vendorDescription">Vendor description</label>
          <input type="text" id="vendorDescription" name="vendorDescription" class="form-control" placeholder="Enter vendor description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>