@{
  Layout = "_Layout";
}

<section class="card">
  <div class="card-header">
    Welcome!
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to Vendor and Order Management</h5>
    <div class="card-text">
      Select an option from the navigation bar to get started.
    </div>
  </div>
</section>